#root{
  background-color: rgb(88, 72, 72);
}


#Level-Selection-Section{
  width: 100vw;
  height: 10vh;
  justify-content: center;
  /* align-items: center; */
  display: flex;
}

#Board-Section{
  width: 100vw;
  /* aspect-ratio: 1; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board{
  width: 30vw;
  height: 30vw;
  aspect-ratio: 1;
  display: grid;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}