body{
  overflow: hidden;
  background-color: rgb(59, 81, 131);
}

#Level-Selection-Section{
  width: 100dvw;
  height: 10dvh;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  gap: 10dvw;
  top: 5dvh;
  position: relative;
}

.levelSelectButton{
  border-radius: 15%;
  width: 5dvw;
}

#Board-Section{
  width: 100dvw;
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board{
  width: 30dvw;
  height: 30dvw;
  aspect-ratio: 1;
  display: grid;
}

.checkButtonPosition{
  position: absolute;
  width: 10dvw;
  height: 5dvh;
  left: 60dvw;
  top: 90dvh;
}

.red{
  background-color: red;
  border: 1px black solid;
  justify-content: center;
}

.grey{
  background-color: grey;
  border: 1px black solid;
  justify-content: center;
}

.black{
  background-color: black;
  color: white;
  border: 1px black solid;
  justify-content: center;
}

.yellow{
  background-color: yellow;
  border: 1px black solid;
  justify-content: center;
}

